<h1>Food Item you requested</h1>

<p>It comes from <strong><%= @item.restaurant_name %></strong> at the smokin' hot price of <%= @item.price %></p>
<p>Harry gives it a <%= @item.harrys_choice ? "THUMBS UP" : "THUMBS DOWN" %></p>
<p><%= image_tag @item.photo_path %></p>